* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Instrument Serif", serif;
}

html,
body {
  width: 100vw;
  height: 400vh;
}
/* body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
.hero {
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 110px;
  width: 100%;
  font-weight: 300;
  line-height: 100%;
  font-family: "Fontdiner Swanky", serif;
  text-transform: capitalize;
}
.howitworks2 {
  flex-direction: row-reverse;
  /* margin-bottom: 50px; */
}
.howitworks p {
  width: 50%;
  text-align: left;
}
.howitworks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.howitworks-container img {
  width: 50%;
  min-width: 200px;
  max-width: 500px;
}
.howitworks-container img {
  width: 50%;
  min-width: 200px;
  max-width: 500px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 15px;
    width: 50%;
  }
  .howitworks {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .howitworks p {
    width: 100%;
    text-align: center;
  }
  .howitworks img {
    border-radius: 10px;
  }
  .howitworks2 {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    text-align: center;
  }
  .howitworks2 p {
    text-align: center;
  }
  .howitworks-container .sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    height: 60vh;
  }
  .howitworks-container section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.kids-gallery {
  max-width: 1200px;
  display: grid;
  gap: 10px;
}
.kids-gallery img {
  width: 50%;
  min-width: 200px;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  padding: 5px;
  background-color: #a5a5a5;
}
@media (min-width: 600px) {
  .kids-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .kids-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
h2 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  width: 90%;
  min-width: 100px;
  max-width: 700px;
  font-weight: bold;
  line-height: 100%;
}

p {
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
}

.model {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fefdfd;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  z-index: 2;
}

.hero h1 {
  margin-bottom: 0.25em;
}

.hero p {
  width: 50%;
  text-align: center;
}

.info {
  gap: 8em;
}

.info .tags {
  width: 60%;
  display: flex;
  gap: 2em;
}

.info h2 {
  width: 75%;
  text-align: center;
}

.info p {
  width: 60%;
  text-align: center;
}

.scan-info {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.scan-container {
  width: 380px;
  height: 580px;
  /* border: 1px solid #000;
  border-radius: 0.5em; */
}

.barcode {
  position: absolute;
  bottom: 1em;
  left: 2em;
  width: 200px;
  height: 100px;
}

.purchased {
  position: absolute;
  bottom: 2em;
  right: 2em;
  padding: 0.5em 4em;
  color: red;
  border: 1px solid red;
  border-radius: 2em;
}

.outro h2 {
  width: 70%;
  text-align: center;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
